<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1" >  

	<test name="Test01">
	   <parameter name="BrowserName" value="Chrome"></parameter>   
	   <parameter name="Environment" value="Stage"></parameter>  
	   
	 	<classes>
	      <class name="qa.Assignment.searchFlight.NewTest"/>
	    </classes>
	</test> 
</suite> 

